
<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">My Profile</h4>
                <h6 class="card-subtitle">Settings</h6>

                <form class="form p-t-20"
                      [formGroup]="profileForm"
                      autocomplete="off"
                      (ngSubmit)="updateProfile()"
                >
                    <div class="form-group">
                        <label for="exampleInputuname">User Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" 
                                   id="exampleInputuname" 
                                   placeholder="Name"
                                   formControlName="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input type="email" class="form-control" 
                                   id="exampleInputEmail1" 
                                   placeholder="Enter email"
                                   formControlName="email"
                                   [readOnly]="user.google">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Submit
                    </button>
                </form>

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">My Picture</h4>
                <h6 class="card-subtitle">Avatar</h6>

                <div class="text-center">
                    <img *ngIf="!imgTemplatePreview" [src]="user.urlImage" width="168px" height="180px" class="mb-2" alt="avatar">
                    <img *ngIf="imgTemplatePreview" [src]="imgTemplatePreview" width="168px" height="180px" class="mb-2" alt="avatar">
                </div>

                <input type="file" (change)="changeFile($event.target)" >

                <br>
                <br>

                <button type="button" 
                        class="btn btn-success waves-effect waves-light m-r-10"
                        [disabled]="!fileToUpload"
                        (click)="uploadFile()">
                    <i class="fa fa-save"></i>
                    Save Image
                </button>
            </div>
        </div>
    </div>


</div>