
<div class="input-group">
    <span class="input-group-btn">
        <button (click)="moveProgress(-5)" 
                [ngClass]="btnClass" 
                type="button">
            <i class="fa fa-minus"></i>
        </button>
    </span>
    <input type="number" 
           [ngClass]="{'is-invalid': progress > 100 || progress < 0, 'form-control': true}"
           placeholder="Progress"
           (ngModelChange)="onInputChange($event)"
           [(ngModel)]="progress"
    >
    <span class="input-group-btn">
        <button (click)="moveProgress(5)" 
                [ngClass]="btnClass"
                type="button">
            <i class="fa fa-plus"></i>
        </button>
    </span>
</div>
