
<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <input type="text"
                        class="form-control"
                        placeholder="Buscar hospital..."
                        #txtTermino
                        (keyup)="searchHospital(txtTermino.value)"/>

            </div>
        </div>
    </div>
</div> 

<div class="row animated fadeIn fast"
    *ngIf="loading">
    <div class="col-12">
        
        <div class="alert alert-info text-center">
          <h4 class="alert-heading">Loading</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <p class="mb-0">Please Wait...</p>
        </div>

    </div>
</div> 


<div class="row"
    *ngIf="!loading">

    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Hospitals ({{ hospitals.length }})</h4>
                        <h6 class="card-subtitle">
                            Hospitals registred on my app
                        </h6>
                    </div>

                    <div class="col">
                        <div class="text-right">
                            <button class="btn btn-primary"
                                    (click)="openSweetAlert()">
                                <i class="fa fa-hospital-o"></i> 
                                Create Hospital
                            </button>
                        </div>
                    </div>

                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Photo</th>
                                <th>Name</th>
                                <th class="w100 text-nowrap">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitals">
                                <td class="text-center"> 
                                    <img [src]="hospital.img | image: types " 
                                        [alt]="hospital.name"
                                        width="100px"
                                        height="100px"
                                        class="w100 cursor-pointer"
                                        (click)="showModal(hospital)"> 
                                </td>
                                <td>
                                    <input type="text" 
                                            class="form-control"
                                            placeholder="Hospital Name"
                                            [(ngModel)]="hospital.name" />
                                </td>
                                
                                <td class="text-nowrap text-center">
                                    <a (click)="saveChanges(hospital)"
                                        data-toggle="tooltip" 
                                        class="cursor-pointer"
                                        data-original-title="Save Changes"> 
                                        <i class="fa fa-pencil text-inverse m-r-10"></i> 
                                    </a>

                                    <a (click)="removeHospital(hospital)" 
                                        data-toggle="tooltip" 
                                        data-original-title="Delete"
                                        class="cursor-pointer"> 
                                        <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

                <!-- <button class="btn btn-secondary">Anteriores</button>
                &nbsp;
                <button class="btn btn-secondary">Siguientes</button> -->

            </div>
        </div>
    </div>
</div>

